@import "../abstracts/variables";
@import "../abstracts/functions";
@import "../abstracts/mixins";

.home {
	@include main-height;
	@include page-padding-y;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1.6rem;

	&__heading {
	}

	&__text {
		display: flex;
		flex-direction: column;
		gap: 0.8rem;
	}

	&__list {
		display: flex;
		gap: 6rem;
		padding-top: 1.6rem;

		&item {
		}
	}

	&__link {
		color: $blue;
	}
}
