@import "../abstracts/variables";
@import "../abstracts/functions";
@import "../abstracts/mixins";

.home {
	@include main-height;
	@include page-padding-y;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1.6rem;

	&__text {
		display: flex;
		flex-direction: column;
		gap: 0.8rem;
	}

	&__list {
		display: flex;
		gap: 6rem;
		padding-top: 1.6rem;
	}

	&__link {
		color: $blue;
	}
}

@media screen and (max-width: 73.6rem) {
	.home {
		justify-content: flex-start;
		align-items: center;

		&__list {
			flex-direction: column;
			gap: 1.6rem;
			align-items: center;
		}

		&__text {
			text-align: center;
		}

		&__heading {
			text-align: center;
		}

		&__link {
			text-align: center;
			align-items: center;
		}
	}
}
