@import "../abstracts/variables";
@import "../abstracts/functions";
@import "../abstracts/mixins";

.projects {
	@include page-padding-y;
	display: flex;
	flex-direction: column;
	gap: 3.2rem;
}

@media screen and (max-width: 73.6rem) {
	.projects {
		text-align: center;
	}
}
