@import "../abstracts/variables";
@import "../abstracts/functions";
@import "../abstracts/mixins";

.services {
	@include page-padding-y;
	display: flex;
	flex-direction: column;
	gap: 6.4rem;

	&__text {
		display: flex;
		flex-direction: column;
		gap: 1.6rem;
	}
}

@media screen and (max-width: 73.6rem) {
	.services {
		text-align: center;
	}
}
