@mixin flex-center {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@mixin page-padding-x {
	padding-left: $page-padding-x;
	padding-right: $page-padding-x;
}

@mixin page-padding-y {
	padding-top: $page-padding-y;
	padding-bottom: $page-padding-y;
}

@mixin main-height {
	min-height: calc(100vh - #{$navigationbar-height});
}
