@mixin flex-center {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@mixin page-padding-x {
	padding-left: $page-padding-x;
	padding-right: $page-padding-x;

	@media screen and (max-width: 73.6rem) {
		padding-left: 5vw;
		padding-right: 5vw;
	}
}

@mixin page-padding-y {
	padding-top: $page-padding-y;
	padding-bottom: $page-padding-y;

	@media screen and (max-width: 73.6rem) {
		padding-top: 3.2rem;
		padding-bottom: 3.2rem;
	}
}

@mixin main-height {
	min-height: calc(100vh - #{$navigationbar-height});
	@media screen and (max-width: 73.6rem) {
		min-height: 70vh;
	}
}

@mixin shadow {
	box-shadow: 0 8px 24px hsl(210deg 8% 62% / 20%);
}

@mixin widget {
	@include shadow;
	border-radius: $widget-radius;
}

@mixin widget-top-radius {
	border-top-left-radius: $widget-radius;
	border-top-right-radius: $widget-radius;
}
