// Typography
$black: #1d1d1f;
$blue: #0066cc;
$gray: #a1a1a6;
$light-gray: #f7f7f7;

// Other
$page-padding-x: 15vw;
$page-padding-y: 6.4rem;
$navigationbar-height: 8rem;
$font: "Roboto", sans-serif;

$widget-radius: 1.6rem;
$widget-padding: 3.2rem;
$widget-imgheight: 12rem;

@media screen and (max-width: 736px) {
	$page-padding-x: 0;
}
