// Typography
$black: #1d1d1f;
$blue: #0066cc;
$gray: #a1a1a6;
$light-gray: #f7f7f7;

// Other
$page-padding-x: 20vw;
$page-padding-y: 6.4rem;
$navigationbar-height: 8rem;
$font: "Roboto", sans-serif;
