button {
	border: 1px solid $black;
	color: $black;
	padding: 1rem 2rem;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 3.2rem;
	background: none;
	transition: all 0.2s;
}

button:hover {
	box-shadow: 0.5rem 0.5rem 0.5rem $light-gray;
	cursor: pointer;
}
