@import "../abstracts/variables";
@import "../abstracts/functions";
@import "../abstracts/mixins";

.experience {
	display: flex;
	flex-direction: column;
	gap: 3.2rem;

	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 3.2rem;

		&item {
			@include widget;
			width: calc((100% - 6.4rem) / 3);
		}
	}

	&__img {
		position: relative;
		height: 12rem;
		width: 100%;
		@include widget-top-radius;
		overflow: hidden;
	}

	&__text {
		display: flex;
		flex-direction: column;
		gap: 1.6rem;
		padding: 3.2rem;
	}

	&__time {
		color: $gray;
	}
}
