@import "../abstracts/variables";
@import "../abstracts/functions";
@import "../abstracts/mixins";

.footertop {
	display: flex;
	gap: 6.4rem;
	padding: 3.2rem 0;
}

.contact,
.services,
.navigation {
	display: flex;
	flex-direction: column;
	gap: 1.6rem;

	&__heading {
		font-size: 1.28rem;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 0.8rem;

		&item {
			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__link {
		font-size: 1.28rem;
	}
}

.footerbottom {
	padding: 3.2rem 0;
	border-top: 1px solid $gray;

	&__text {
		font-size: 1.28rem;
	}
}
