@import "../abstracts/variables";
@import "../abstracts/functions";
@import "../abstracts/mixins";

.navigationbar {
	min-height: $navigationbar-height;
	@include flex-center;

	&__heading {
		&:hover {
			cursor: pointer;
		}
	}

	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 7rem;
	}

	&__link {
		&:hover {
			color: $blue;
		}

		&--active {
			color: $gray;
			&:hover {
				cursor: default;
			}
		}
	}
}

@media screen and (max-width: 73.6rem) {
	.navigationbar {
		flex-direction: column;
		padding: 3.2rem;

		&__heading {
			text-align: center;
			padding-bottom: 3.2rem;
		}

		&__list {
			flex-direction: column;
			gap: 1.6rem;
			text-align: center;
		}

		&__listitem {
			width: 100%;
		}
	}
}
