@import "../abstracts/variables";
@import "../abstracts/functions";
@import "../abstracts/mixins";

.navigationbar {
	min-height: $navigationbar-height;
	@include flex-center;

	&__heading {
		&:hover {
			cursor: pointer;
		}
	}

	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 7rem;
	}

	&__link {
		&:hover {
			color: $blue;
		}

		&--active {
			color: $gray;
			&:hover {
				cursor: default;
			}
		}
	}
}

.hamburger {
	display: none;
}

.mobilenavigationbar {
	display: none;

	&--active {
		display: none;
	}
}

.navflex {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

@media screen and (max-width: 73.6rem) {
	.hamburger {
		display: block;
	}

	.navigationbar__list {
		display: none;
	}

	.navigationbar {
		flex-direction: column;
		padding: 1.6rem 0;
	}

	.navflex {
		@include widget;
		padding: 1.6rem 3.2rem;
	}

	.mobilenavigationbar {
		&--active {
			display: flex;
			flex-direction: column;
			width: 100%;
			margin-top: 3.2rem;
			gap: 1.6rem;
		}

		&__listitem {
			border-radius: 0.8rem;
			text-align: center;
			width: 40vw;
			background-color: $light-gray;
			padding: 1.6rem 3.2rem;

			&:hover {
				background: white;
			}
		}

		&__link {
			padding: 0.8rem;

			&--active {
				padding: 0.8rem;
			}
		}
	}
}
