@import "../abstracts/variables";
@import "../abstracts/functions";
@import "../abstracts/mixins";

.navigationbar {
	height: $navigationbar-height;
	@include flex-center;

	&__heading {
		&:hover {
			cursor: pointer;
		}
	}

	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 7rem;

		&item {
		}
	}

	&__link {
		&:hover {
			color: $blue;
		}

		&--active {
			color: $gray;
			&:hover {
				cursor: default;
			}
		}
	}
}
