@import "../abstracts/variables";
@import "../abstracts/functions";
@import "../abstracts/mixins";

.skills {
	display: flex;
	gap: 3.2rem;
	flex-direction: column;

	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 3.2rem;
	}

	&__listitem {
		@include shadow;
		padding: 1.6rem;
		width: calc((100% - 12.8rem) / 5);
		min-width: 25rem;
		display: flex;
		align-items: center;
		gap: 3.2rem;
		border-radius: 1.6rem;
	}

	&__imagecontainer {
		padding: 1.6rem;
		background-color: $light-gray;
		border-radius: 1.6rem;
	}

	&__img {
		position: relative;
		width: 4.5rem;
		height: 4.5rem;
	}
}

@media screen and (max-width: 73.6rem) {
	.skills {
		&__list {
			flex-direction: column;
		}

		&__listitem {
			width: 100%;
		}
	}
}
